blockquote {
margin: 15%;
background: #fff;
padding: 40px;
color: #3F484D;
position: relative;
font-family: 'playfair display';
text-align: center;
}
blockquote:before, blockquote:after {
font-size: 45px;
color: #956DBA;
position: absolute;
height: 2px;
left: 40px;
right: 40px;
line-height: .5;
background: linear-gradient(to right, #956DBA 45%, transparent 45%, transparent), linear-gradient(to right, transparent, transparent 55%, #956DBA 55%);
font-family: serif;
}
blockquote:before {
content: "\201C";
top: 30px;
}
blockquote:after {
content: "\201D";
bottom: 30px;
}
blockquote p {
font-size: 20px;
}
blockquote footer {
margin-bottom: 1em;
}
blockquote cite {
font-style: normal;
	font-family: 'Roboto Condensed'
}